# Practical 1

In [1]:
import numpy as np
import pandas as pd

## 1

In [2]:
df1=np.array([9,8,7])
df2=np.array([1,2,3])
print(sum(df1))
print(sum(df2))
print(df1*3)
print(df2*3)

24
6
[27 24 21]
[3 6 9]

In [3]:
df1&df2

array([1, 0, 3], dtype=int32)

In [4]:
df1|df2

array([ 9, 10,  7], dtype=int32)

In [5]:
df1^df2

array([ 8, 10,  4], dtype=int32)

In [6]:
~df1

array([-10,  -9,  -8], dtype=int32)

In [7]:
~df2

array([-2, -3, -4], dtype=int32)

In [8]:
print(df1)

[9 8 7]

In [9]:
print(df2)

[1 2 3]

In [10]:
df1[1:-1]

array([8])

In [11]:
df2[2:]

array([3])

In [12]:
print(df1==df2)
print(df1>df2)
print(df1<df2)
print(df1>=df2)
print(df1<=df2)

[False False False]
[ True  True  True]
[False False False]
[ True  True  True]
[False False False]

## 2

In [13]:
d21=np.array([[1,2,3],[4,5,6],[7,8,9]])
d22=np.array([[10,11,12],[13,14,15],[16,17,18]])

In [14]:
d21

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [15]:
d22

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [16]:
sum(d21)

array([12, 15, 18])

In [17]:
sum(d22)

array([39, 42, 45])

In [18]:
d21&d22

array([[0, 2, 0],
       [4, 4, 6],
       [0, 0, 0]], dtype=int32)

In [19]:
d21|d22

array([[11, 11, 15],
       [13, 15, 15],
       [23, 25, 27]], dtype=int32)

In [20]:
~d21

array([[ -2,  -3,  -4],
       [ -5,  -6,  -7],
       [ -8,  -9, -10]], dtype=int32)

In [21]:
~d22

array([[-11, -12, -13],
       [-14, -15, -16],
       [-17, -18, -19]], dtype=int32)

In [22]:
d21[0:-1]

array([[1, 2, 3],
       [4, 5, 6]])

In [23]:
d22[1:-1]

array([[13, 14, 15]])

In [24]:
d21==d22

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [25]:
d21>d22

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [26]:
d21<d22

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [27]:
d21<=d22

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [28]:
d21>=d22

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

## 3

In [29]:
d21.reshape(-1)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [30]:
d22.reshape(9,1)

array([[10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18]])

In [31]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
d23=np.resize(d22,(2,2))

In [33]:
d23

array([[10, 11],
       [12, 13]])

In [34]:
np.hsplit(d21,3)

[array([[1],
        [4],
        [7]]),
 array([[2],
        [5],
        [8]]),
 array([[3],
        [6],
        [9]])]

In [35]:
dft=[[1,0,0],[0,1,0],[0,0,1]]

In [36]:
dft=pd.DataFrame(dft)

In [37]:
dft

   0  1  2
0  1  0  0
1  0  1  0
2  0  0  1

In [38]:
for i in range(len(dft)):
    for j in range(len(dft[i])):
        if dft[i][j]==1:
            print("ones=",i,j)
        if dft[i][j]==0:
            print("zeroes=",i,j)

ones= 0 0
zeroes= 0 1
zeroes= 0 2
zeroes= 1 0
ones= 1 1
zeroes= 1 2
zeroes= 2 0
zeroes= 2 1
ones= 2 2

In [39]:
import io

In [40]:
data = io.StringIO('''Fruit,Color,Count,Price
Apple,Red,3,$1.29
Apple,Green,9,$0.99
Pear,Red,25,$2.59
Pear,Green,26,$2.79
Lime,Green,99,$0.39
''')
df_unindexed = pd.read_csv(data)
df_unindexed

   Fruit  Color  Count  Price
0  Apple    Red      3  $1.29
1  Apple  Green      9  $0.99
2   Pear    Red     25  $2.59
3   Pear  Green     26  $2.79
4   Lime  Green     99  $0.39

In [41]:
df = df_unindexed.set_index(['Fruit', 'Color'])
df

             Count  Price
Fruit Color
Apple Red        3  $1.29
      Green      9  $0.99
Pear  Red       25  $2.59
      Green     26  $2.79
Lime  Green     99  $0.39

In [42]:
df=pd.read_csv("xAPI-Edu-Data.csv")

In [43]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [44]:
df.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   480.000000        480.000000         480.000000  480.000000
mean     46.775000         54.797917          37.918750   43.283333
std      30.779223         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.750000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

In [45]:
df.mean()

raisedhands          46.775000
VisITedResources     54.797917
AnnouncementsView    37.918750
Discussion           43.283333
dtype: float64

In [46]:
df.median()

raisedhands          50.0
VisITedResources     65.0
AnnouncementsView    33.0
Discussion           39.0
dtype: float64

In [47]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [52]:
df.loc[5:10]

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M
10,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,88,30,80,Yes,Good,Under-7,H

In [53]:
df.iloc[5:10]

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M